@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>CoderDojo is a global movement of free, volunteer-led,  community based programming clubs for young people ages 11 and 12/</p>
<a class="btn btn-default" href="https://coderdojo.com/about/" target="_black">Learn more &raquo;</a>
