@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Billings Coder Dojo</h1>
    <p class="lead">Welcome to Billings Coder Dojo!</p>
    <p><a href="https://coderdojo.com/" class="btn btn-primary btn-lg" target="_blank">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>When and Where</h2>
        <p>
            Billings Public Library - Tuesdays from 5:30 to 7:00
        </p>
        <p><a class="btn btn-default" href="http://ci.billings.mt.us/index.aspx?NID=258" target="_blank">Library Home Page</a></p>
    </div>
    <div class="col-md-4">
        <h2>Who are we?</h2>
        <p>The most awesome CoderDojo in south eastern Montana!</p>
    </div>
    <div class="col-md-4">
        <h2>Learn at home!</h2>
        <ul class="list-unstyled">
            <li><a href="http://www.cogentco.com/en/network/looking-glass" target="_blank">Looking Glass</a></li>
            <li><a href="https://scratch.mit.edu/" target="_blank">Scratch</a></li>
            <li><a href="http://code.org/" target="_blank">Code.org</a> <a href="https://youtu.be/nKIu9yen5nc" target="_blank">Video</a></li>
        </ul>
    </div>
</div>